{% load static %}
{% block slider %}


  <!-- HERO SECTION START -->
   {% for rs in slider %}
  <section class="relative w-full h-[100vh] bg-center bg-cover flex items-center justify-center" style="background-image: url('{{rs.image.url}}');">
    <!-- Overlay -->
    <div class="absolute inset-0"></div>

    <!-- Content -->
    <div class="relative z-10 max-w-4xl text-center px-4">
      <h1 class="text-4xl md:text-5xl font-bold text-white leading-tight">
        {{rs.title}}
      </h1>


      <p class="text-white mt-4 md:mt-6 text-base md:text-lg">
        {{rs.sub_title}}
      </p>

      <div class="mt-6">
        <a href="#consultation"
          class="inline-block bg-[#a86b69] text-white font-semibold px-6 py-3 rounded hover:bg-[#955c5a] transition duration-300">
          Book your Free Consultation
        </a>
      </div>
    </div>
  </section>
  {% endfor %}
  <!-- HERO SECTION END -->


{% endblock slider %}